{% extends 'admin.html.twig' %}

{% block admin %}
    <h1>Ajouter un invité</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.description) }}
        <div class="d-flex justify-content-between mt-4">
            <button class="btn btn-primary" type="submit">Créer un invité</button>
            <a href="{{ path('admin_guests') }}" class="btn btn-secondary">← Retour à la liste</a>
        </div>
    {{ form_end(form) }}
    

{% endblock %}
